.container{
    border:5px solid #B29CE4;
    margin: 10px;
    width: 300px;
    background-color: #E0D4FC;
    margin-left:8em;
    height: 150px;
    text-align: center;
}
.box{
border: 5px solid rgb(143, 75, 211);
  background-color: white;
  padding: 30px;
  width: 100px;
  height: 50px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 100px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-left: 3.25em;
  text-align: center;
}
li{
    color:#42326E;
    font-family:"Brush Script MT";
}
img{
    background-color: #d3cfdd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

p{
    color:#42326E;
    font-family: "Times New Roman", "Arial";
    background-color: #E0D4FC;
}