h1{
    background-color:#E0D4FC;
    color:black;
    font-family:"Times New Roman", "Arial";
    text-align:center;
    padding: 5px;
    border: 30px solid #B29CE4;
}
li{
    color:#42326E;
    font-family:"Brush Script MT";
}
img{
    background-color: #d3cfdd;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

p{
    color:#42326E;
    font-family: "Times New Roman", "Arial";
    background-color: #E0D4FC;
}